* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {

    font-family: 'Rubik', sans-serif;
    width: 1444px;
    height: 3843px;
    margin: 0 auto;
    background: #FFFFFF;

}

.header {
    max-width: 1450px;
    display: flex;
    align-items: center;

    height: 90px;
    background-color: white;



    .header-logo {
        margin-left: 129px;
    }

    .header-link {
        display: flex;
        margin-left: 257px;
        margin-right: 228px;
    }

    .link {

        font-weight: normal;
        margin-left: 45px;
        font-size: 16px;
        line-height: 19px;
        color: #4E5983;
        text-decoration: none;
    }

    .header-buttons {
        margin-right: 100px;
    }

    .buttons {
        display: flex;
    }

    .login {
        margin-right: 15px;
        cursor: pointer;
        background: none;
        border: none;

        &:hover {
            color: coral;
        }
    }

    .singup {
        padding: 14px 14px 18px 18px;
        background: #A17FFF;
        border-radius: 9px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #4E5983;
        cursor: pointer;

        &:hover {
            background: #A17FFF;
            opacity: 0.11;
            color: black;
        }

    }
}

section.main-exchange {
    position: relative;
    width: 1444px;
    height: 754.59px;
    background: linear-gradient(156.76deg, #562EC2 29.59%, #A07EFE 73.59%);
    border-radius: 17px;



    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .un24 {
        position: absolute;
        left: 0px;
        top: 155px;
        z-index: -1;
    }

    .un28 {
        position: absolute;
        left: 64.08px;
        top: 205px;
    }

    .un29 {
        position: absolute;
        left: 32.06px;
        top: 450px;
    }

    .bubble {
        position: absolute;
        left: 32.06px;
        top: 240px;
        z-index: -2;
    }

    .patt {
        position: absolute;
        right: 0;
        top: 113.4px;
    }

    .exchange-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 853px;
        //border: 2px solid orange;
    }

    .exchange-text-title {
        font-weight: bold;
        font-size: 60px;
        line-height: 111.9%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 113px;

    }

    .exchange-text-sutitle {
        margin-top: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        color: #FFFFFF;

        top: 250px;
    }


    .exchange-plate {
        display: flex;
        margin-top: 50px;
        width: 1109px;
        height: 319.41px;
        background: #FFFFFF;
        opacity: 0.8;
        border: 4px solid #F7F8FD;
        box-sizing: border-box;
        border-radius: 26px;
        z-index: 2;
    }

    .plate-info {
        margin-left: 107px;
        margin-top: 85px;
        display: flex;
        align-items: center;
        width: 691px;
        height: 130px;

    }

    .arrows {
        svg.arrow {
            fill: #868DAA;

            &:hover {
                fill: red;

            }
        }

        border:none;
        background:none;
        width: 17px;
        height: 17px;
        margin-left: 45px;
        margin-right: 35px;
    }

    .change-btn {
        align-self: center;
        margin-top: 55px;
        margin-right: 60px;
        width: 157px;
        height: 55px;
        background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
        opacity: 0.8;
        border-radius: 9px;
    }

    .plate-title {
        margin-bottom: 35px;
    }

    .plate-title-text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4E5983;

    }

    .plate-subtitle-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #4E5983;
        opacity: 0.5;
    }

    .plate-give {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    .face-value {
        display: flex;
        align-items: center;
        border: none;
        background: none;
    }

    .money {
        margin-left: 10px;
        margin-right: 10px;
        text-transform: uppercase;
    }

    .face-value:before {
        display: inline-block;
        transform: translateY(0%);
        margin-right: 10px;
        content: "";
        width: 1px;
        height: 25px;
        background: #CFD4DA;
    }

    .plate-inter {
        border: none;
        padding-left: 10px;

    }

    .fill {
        display: flex;
        padding-bottom: 5px;
        border-bottom: 1px solid #CFD4DA;
    }
}

/* end section.main-exchange*/


section.safety {


    .safety-box,
    .service,
    .сurrency-reserve {

        position: relative;
        top: 0;
        width: 1444px;
        height: 840px;


    }

    .safety-box {
        display: flex;
        background: #FFFFFF;
        padding-top: 82px;
    }

    .mascgp1 {
        position: absolute;
        bottom: -225px;

    }

    .card {
        text-align: left;
        width: 239px;
        height: 178px;
    }

    .card-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #4E5983;
        margin-bottom: 30px;
    }

    .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 166.5%;
        color: #4E5983;
        opacity: 0.7;
    }




    .service {

        width: 1240px;
        height: 550px;
        top: -150px;
        z-index: 10;
        background: #FFFFFF;
        border: 4px solid #F7F8FD;
        box-sizing: border-box;
        border-radius: 26px;
    }

    .maskgp2 {
        position: absolute;
        bottom: -150px;
        right: -110px;
    }

    .block-info {
        display: flex;

    }

    .block-info_left {
        width: 470px;
        margin-top: 120px;
        text-align: left;
        padding-left: 155px;

    }

    .left-title {
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 132.4%;

        color: #160647;
        margin-bottom: 30px;

    }

    .left-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 166.5%;
        color: #4E5983;
        opacity: 0.7;
    }

    .block-info-right {
        margin-top: 95px;
    }



    .сurrency-reserve {
        top: -550px;
        background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
        opacity: 0.8;
    }

    .сurrency-reserve_title {
        padding-top: 537px;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 111.9%;
        text-align: center;
        color: #160647;
    }

    .currency-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 59px;
    }

    .currency-block-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 330px;
        margin-bottom: 82px;
    }

    .currency-logo {
        margin: 0;
        margin-right: 32px;
    }

    .card-image {}

    .currency-text {}

    .name {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #A4AABF;
        margin-bottom: 3px;
    }

    .mount {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 155.5%;
        color: #160647;
    }


}

/*section End*/

/*настройка текста слайдела*/

.talk-about {
    margin-bottom: 90px;
}

.name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A4AABF;
}

.mount {
    font-weight: normal;
    font-size: 20.5714px;
    line-height: 155.5%;
    color: #160647;
}


.customers-say {
    width: 1444px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 132.4%;
    color: #160647;
    margin-top: -340px;

    .customers-say_title {
        margin-bottom: 50px;
    }
}

/* Слайдер начало*/
.wrapper {

    margin-top: 100px;
    width: 1200px;
    margin: 0 auto;
}

/* слайдер контент*/
.slider-container {
    overflow: hidden;

}

.slider-track {
    display: flex;
    transition: .2s;
}

.slider-item {

    padding-top: 50px;
    padding-left: 130px;
    padding-right: 20px;
    background-image: url(../img/lines1.png);
    background-repeat: no-repeat;
    background-position: -110% 0%;
    margin-right: 10px;
    margin-bottom: 50px;



    p.news-slider-text {

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 166%;
        color: #4E5983;
        opacity: 0.7;
    }


}

.costomer-name {
    font-weight: normal;
    font-size: 20px;
    line-height: 155.5%;
    color: #160647;
}

.costomer-date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #838BA8;
}

.slider-buttons {
    text-align: right;

}

.btn-prev,
.btn-next {
    border: none;
    background: none;

    .arrow-svg {
        fill: #838BA8;

        &:hover {
            fill: #A17FFF;


        }
    }

}

/*слайдер конец*/

.start-sharing-box {
    margin-top: 100px;
    width: 1444px;
    height: 600px;
}

.layer-box {
    display: flex;
    align-items: center;
    width: 1238px;
    height: 446px;
    background: linear-gradient(163.51deg, #562EC2 29.59%, #A07EFE 73.59%);
    opacity: 0.8;
    border-radius: 17px;
    box-shadow: 20px 20px 22px rgba(106, 100, 172, 0.77);

}

.layer-img {
    position: relative;
    top: 50px;
    left: -90px;
}


.layer-box-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 166.5%;
    color: #FFFFFF;
    //opacity: 0.7;
    display: flex;
    flex-direction: column;


}

.title-box {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 132.4%;
    color: #FFFFFF;
}



.subtitle-box {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.start-exchange {

    width: 225px;
    height: 69px;
    background: #FFFFFF;
    border-radius: 10.2611px;
    font-weight: 500;
    font-size: 15.9618px;
    line-height: 19px;
    text-align: center;
    color: #9F7DFD;
    border: none;

    &:hover {
        background-color: #9F7DFD;
        color: white;
        border: 1px solid white;
    }
}

.footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1444px;
    background: #FFFFFF;
}

.footer-logo {}

.footer-logo-img {
    margin-bottom: 12px;
}

.footer-logo-subtitle {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #838BA8;
}

.footer-links {}

.filink {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4E5983;
}

.icon-item {
    margin-left: 25px;
}